
pipeline:
  data_partition_args:
    alpha: 1
    C: 5
    partition: exdir
    min_size: 10
    niid: true
    balance: false
    seed: 0
    train_ratio: 0.80
  common_args:
    algorithm: FedDES
    num_clients: 20
    global_rounds: 1
    local_epochs: 300
    use_val: true
    skip_meta_training: true
  family_args:
    Cifar10:
      data: Cifar10
      model_family: HtFE-img-5
      num_classes: 10
      feature_dim: 256
      NUM_MODELS: 5
    eicu_defaults: &eicu_defaults
      model_family: eICU
      num_classes: 2
      feature_dim: 64
      NUM_MODELS: 3
      partition_builder: eicu
      data_partition_args: &eicu_partition_defaults
        min_size: 300
        client_sort_mode: positives
        skip_partition_cli: true
        skip_partition_generation: true
    eicu_mortality_48h:
      <<: *eicu_defaults
      data: eICU_task=[mortality_48h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: mortality_48h
    eicu_Shock_4h:
      <<: *eicu_defaults
      data: eICU_task=[Shock_4h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: Shock_4h
    eicu_ARF_4h:
      <<: *eicu_defaults
      data: eICU_task=[ARF_4h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: ARF_4h
    eicu_Shock_12h:
      <<: *eicu_defaults
      data: eICU_task=[Shock_12h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: Shock_12h
    eicu_ARF_12h:
      <<: *eicu_defaults
      data: eICU_task=[ARF_12h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: ARF_12h

base_configs:
  # Defaults / common settings
  base_split_mode: oof_stacking
  base_split_seed: 0
  base_es_metric: val_loss    # options: val_loss | val_acc | val_bacc | val_temp_scaled_loss | cdsc
  base_es_patience: 20
  base_weighted_by_class: true
  base_es_min_delta: 0.0001

  # Search space for base training (cartesian product)
  sweep:
    base_es_metric: [val_temp_scaled_loss] #  val_temp_scaled_loss
    base_clf_lr: [0.0005] # [0.0001, 0.0003, 0.0005, 0.001]
    base_single_model: [true]  # extend if you want to try both single and multi model settings
    # add more base_* params here if needed



graph_configs:
  # Defaults / common settings
  graph_k_per_class: 5
  graph_cs_topk: 3
  graph_cc_topk: 3
  graph_sample_node_feats: embedding_mean   # options: ds | embedding_mean | embedding_concat | encoder | hybrid
  graph_cs_mode: balanced_acc:logloss       # format: score:tie (tie can be none)
  graph_drop_disconnected_cls: false
  proto_use: false
  proto_min_samples: 5
  proto_max_k: 100

  # Search space for graph construction (cartesian product)
  sweep:
    graph_k_per_class: [5]
    graph_cs_topk: [5]
    graph_cc_topk: [5]
    graph_meta_min_pos: [1]
    graph_sample_node_feats: [encoder] # encoder  # extend if you want other feature modes
    graph_cs_mode: [gain:balanced_acc]
    proto_use: [false]


gnn_configs:
  # Defaults / common settings
  gnn_heterogenous: true
  gnn_hidden_dim: 128
  gnn_layers: 2
  gnn_heads: 4
  gnn_dropout: 0.2
  gnn_lr: 0.0005
  gnn_weight_decay: 0.0001
  gnn_use_sample_residual: false
  gnn_sample_feat_norm: none   # options: none | layernorm | l2
  gnn_debug_feat_stats: true
  gnn_debug_degrees: true
  gnn_bidirectionality: true
  gnn_drop_cc_edges: false
  gnn_es_metric: val_loss   # options: val_loss | val_micro_prec | val_micro_f1 | val_bacc
  gnn_patience: 50
  gnn_sample_weight_mode: class_prevalence
  gnn_ens_combination_mode: hard   # options: soft | hard | voting
  gnn_learned_cc_attrs: false
  gnn_diversity_regularization: false
  gnn_diversity_lambda: 0.1
  gnn_diversity_eps: 1e-6
  gnn_diversity_binary_neighbor_k_cap: 9
  gnn_rank_lambda: 0.0
  gnn_rank_margin: 0.5
  gnn_rank_max_pairs: 256
  gnn_rank_sample_n: 256
  gnn_use_pos_weight: false
  gnn_drop_edge_rate: 0.0
  gnn_sampler: none

  # Search space for GNN/meta (cartesian product)
  sweep:
    gnn_heterogenous: [true, false]
    gnn_hidden_dim: [256, 512]
    gnn_heads: [4, 8]
    gnn_layers: [2]
    gnn_lr: [0.005]
    gnn_use_sample_residual: [true]
    gnn_bidirectionality: [true]
    gnn_es_metric: [val_loss]
    gnn_sample_weight_mode: [difficulty]
    gnn_ens_combination_mode: [weighted_vote]
    gnn_loss: [meta_labels_BCE]
    gnn_rank_lambda: [0, 0.5]
    gnn_rank_margin: [0.9]
    gnn_rank_max_pairs: [512]
    gnn_rank_sample_n: [512]
    gnn_use_pos_weight: [false]
    gnn_weight_rank_loss: [false]
    gnn_use_edge_attr: [true]
    gnn_sampler: [unweighted]
    gnn_patience: [20]

  conditional_sweep:
    - when:
        gnn_heterogenous: false
      set:
        gnn_drop_cc_edges: true
        gnn_pair_decoder: none
        gnn_learned_cc_attrs: false
        gnn_update_classifier_nodes: false
      sweep:
        gnn_arch: [gatv3]
    - when:
        gnn_heterogenous: true
      sweep:
        gnn_arch: [hetero_gatv3]
        gnn_drop_cc_edges: [true]
        gnn_pair_decoder: [none]
        gnn_learned_cc_attrs: [true, false]
        gnn_update_classifier_nodes: [true, false]

pae_configs:
  # Defaults / common settings
  pae_pop_size: 40
  pae_num_generations: 40
  pae_mutation_prob: 0.05
  pae_crossover_prob: 0.9
  pae_min_ensemble_size: 1
  pae_max_ensemble_size: 0   # 0 => use all available models

  # Search space for PAE ensemble selection (cartesian product)
  sweep:
    pae_pop_size: [100, 200]
    pae_num_generations: [100, 200]
