
pipeline:
  data_partition_args:
    alpha: 10
    C: 5
    partition: exdir
    min_size: 10
    niid: true
    balance: false
    seed: 1
    train_ratio: 0.80
    num_clients: 50
  common_args:
    algorithm: FedDES
    num_clients: 50
    global_rounds: 1
    local_epochs: 300
    use_val: true
    skip_meta_training: true
  family_args:
    Cifar10:
      data: Cifar10
      model_family: HtFE-img-5
      num_classes: 10
      feature_dim: 256
      NUM_MODELS: 5
    eicu_defaults: &eicu_defaults
      model_family: eICU
      num_classes: 2
      feature_dim: 64
      NUM_MODELS: 3
      partition_builder: eicu
      data_partition_args: &eicu_partition_defaults
        min_size: 150
        client_sort_mode: prevalence
        skip_partition_cli: true
        skip_partition_generation: true
    eicu_mortality_48h:
      <<: *eicu_defaults
      data: eICU_task=[mortality_48h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: mortality_48h
    eicu_Shock_4h:
      <<: *eicu_defaults
      data: eICU_task=[Shock_4h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: Shock_4h
    eicu_ARF_4h:
      <<: *eicu_defaults
      data: eICU_task=[ARF_4h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: ARF_4h
    eicu_Shock_12h:
      <<: *eicu_defaults
      data: eICU_task=[Shock_12h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: Shock_12h
    eicu_ARF_12h:
      <<: *eicu_defaults
      data: eICU_task=[ARF_12h]
      data_partition_args:
        <<: *eicu_partition_defaults
        task: ARF_12h

base_configs:
  # Defaults / common settings
  base_split_mode: oof_stacking
  base_es_metric: val_loss    # options: val_loss | val_acc | val_bacc | val_temp_scaled_loss | cdsc
  base_es_patience: 20
  base_weighted_by_class: true

  # Search space for base training (cartesian product)
  sweep:
    base_es_metric: [val_temp_scaled_loss, val_loss] #  val_temp_scaled_loss
    base_clf_lr: [0.0005, 0.0001] # [0.0001, 0.0003, 0.0005, 0.001]
    base_single_model: [true]  # extend if you want to try both single and multi model settings
    # add more base_* params here if needed



graph_configs:
  # Defaults / common settings
  graph_sample_node_feats: embedding_mean   # options: ds | embedding_mean | embedding_concat | encoder | hybrid
  graph_cs_mode: balanced_acc:logloss       # format: score:tie (tie can be none)

  # Search space for graph construction (cartesian product)
  sweep:
    graph_k_per_class: [5]
    graph_cs_topk: [5]
    graph_cc_topk: [5]
    graph_meta_min_pos: [1]
    graph_sample_node_feats: [hybrid] # encoder  # extend if you want other feature modes
    graph_cs_mode: [gain:balanced_acc, balanced_acc:gain]


gnn_configs:
  # Defaults / common settings
  gnn_heterogenous: true
  gnn_dropout: 0.2
  gnn_lr: 0.0005
  gnn_use_sample_residual: true
  gnn_sample_feat_norm: none   # options: none | layernorm | l2
  gnn_drop_cc_edges: false
  gnn_es_metric: val_loss   # options: val_loss | val_micro_prec | val_micro_f1 | val_bacc
  gnn_patience: 50
  gnn_batch_size: 64
  gnn_sample_weight_mode: class_prevalence
  gnn_ens_combination_mode: hard   # options: soft | hard | soft_voting | hard_voting | soft_weighted_voting | hard_weighted_voting
  gnn_rank_max_pairs: 3000
  gnn_rank_sample_n: 512

  # Search space for GNN/meta (cartesian product)
  sweep:
    gnn_heterogenous: [true, false]
    gnn_hidden_dim: [256, 512]
    gnn_heads: [4, 8]
    gnn_layers: [2]
    gnn_lr: [0.005]
    gnn_es_metric: [val_loss, val_acc]
    gnn_sample_weight_mode: [difficulty]
    gnn_ens_combination_mode: [soft_voting, soft_weighted_voting]
    gnn_loss: [meta_labels_regression]
    gnn_rank_lambda: [0.5,0]
    gnn_rank_margin: [0.2]
    gnn_weight_rank_loss: [true]
    gnn_use_edge_attr: [true]
    gnn_sampler: [unweighted]
    gnn_patience: [20]
    gnn_drop_edge_rate: [0, 0.2]

  conditional_sweep:
    - when:
        gnn_heterogenous: false
      set:
        gnn_drop_cc_edges: true
        gnn_pair_decoder: none
        gnn_learned_cc_attrs: false
        gnn_update_classifier_nodes: false
      sweep:
        gnn_arch: [gatv3]
    - when:
        gnn_heterogenous: true
      sweep:
        gnn_arch: [hetero_gatv3]
        gnn_drop_cc_edges: [true]
        gnn_pair_decoder: [none]
        gnn_learned_cc_attrs: [true, false]
        gnn_update_classifier_nodes: [true, false]

pae_configs:
  # Defaults / common settings
  pae_pop_size: 40
  pae_num_generations: 40
  pae_mutation_prob: 0.05
  pae_crossover_prob: 0.9
  pae_min_ensemble_size: 1
  pae_max_ensemble_size: 0   # 0 => use all available models

  # Search space for PAE ensemble selection (cartesian product)
  sweep:
    pae_pop_size: [100, 200]
    pae_num_generations: [100, 200]
